services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    env_file:
      - path: .env
        required: true
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ping_panda:/var/lib/postgresql/ping_panda

volumes:
  ping_panda:
